<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/custom.css' />

</head>

<body id="apis" data-spy="scroll" data-target="#myScrollspy">


<div class="container-fluid">
    <div class="row main-wrapper">
        <div class="col-md-2 wrapper-left">
            <nav class="navbar apiNav pad45" id="myScrollspy">
                <a class="navbar-brand" href="/">
                    <img src="images/icons/shield.svg" width="40" height="40" class="d-inline-block" alt="">
                    AGRO
                </a>
                <button class="navbar-toggler hidden-xs-up" type="button" data-toggle="collapse"
                        data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false"
                        aria-label="Toggle navigation"></button>

                <ul class="nav" id="sidebar">

                    <% menus.forEach(function(menu, index1){ %>
                    <li class="nav-item"><a class="nav-link active" href="#content<%= index1 %>"><%= menu.item %></a>
                        <ul class="nav submenu">
                            <% menu.subitems.forEach(function(subitem, index2){ %>
                            <li class="nav-item"><a class="nav-link"
                                                    href="#content<%= index1 %>-<%= index2 %>"><%= subitem.name %></a>
                            </li>
                            <% }); %>
                        </ul>
                    </li>
                    <% }); %>

                </ul>
                <!--</div>-->
            </nav>
        </div>
        <div class="col-md-10 wrapper-right scroll-box">
            <% menus.forEach(function(menu, index1){ %>
            <div class="content-bg" id="content<%= index1 %>">
                <% menu.subitems.forEach(function(subitem, index2){ %>
                <div class="row content">
                    <div class="col-ms-12 col-md-6 midOuter">
                        <% if (index2 == 0) { %>
                        <h4><%= menu.item %></h4>
                        <% } %>
                        <div class="midInner">
                            <h6 id="content<%= index1 %>-<%= index2 %>"><%= subitem.name %></h6>
                            <p>JSON資料標籤說明：</p>


                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>標籤</th>
                                    <th>必填</th>
                                    <th>說明</th>
                                    <th>格式 / 範例</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% tagDesc.forEach(function (tag) { %>
                                <tr>
                                    <td><%= tag.tag %></td>
                                    <td><%= tag.required %></td>
                                    <td><%= tag.desc %></td>
                                    <td><%= tag.format %></td>
                                </tr>
                                <% }) %>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="col-ms-12 col-md-6 rightOuter">
                        <div class="rightInner">
                            <p>Parameters</p>
                            <p>所有訊息必須為 UTF-8 編碼。<br>JSON資料範例：</p>
                            <pre>
                <code>
{
    device_id : “183948633”,
    d: {
    type : “A01”,
    value : “37.5”,
    valid_time_start : “1380654000”,
    valid_time_end : “1380657600”
}

                </code>
                </pre>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            <% }); %>
        </div>
    </div>
</div>
<!-- container -->
<script src="/plugin/jquery/jquery-1.11.3.min.js"></script>
<script src="/bootstrap/bootstrap.min.js"></script>

<script>

    $(document).ready(function () {
        // --------------------------------------------------------
        //  Smooth Scrolling
        // --------------------------------------------------------
        $("#sidebar li a[href^='#']").on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });

</script>
</body>
</html>
